.hero__text,
.hero__summary {
  color: white;
  letter-spacing: 2rem;
  font-weight: 600; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  padding: 3rem; }

.hero__text {
  font-size: 8.4rem;
  animation-name: h1;
  animation-duration: 2s;
  animation-delay: 1s; }

.hero__summary {
  width: 50%;
  font-size: 4.4rem;
  text-align: center;
  line-height: 1.5;
  animation-name: h2;
  animation-duration: 2s;
  animation-delay: 1s; }

.heading-secondary {
  font-size: 3.6rem;
  text-transform: uppercase;
  display: inline-block;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  color: transparent;
  transition: all 0.5s;
  letter-spacing: 0.2rem; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4); }

.heading-tretiary {
  opacity: 0.8;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  color: #333; }

.text-box {
  opacity: 0.9;
  font-size: 1.6rem; }
  .text-box:not(:last-child) {
    margin-bottom: 3rem;
    line-height: 1.7;
    color: #333; }

.text-boxx {
  opacity: 0.9;
  font-size: 1.4rem;
  color: #555;
  line-height: 1.7;
  text-align: center; }

.heading-tertiary {
  opacity: 0.8;
  font-size: 1.4rem;
  color: #555;
  text-transform: uppercase;
  text-align: center; }

@keyframes h1 {
  0% {
    opacity: 0;
    transform: translateX(-200px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes h2 {
  0% {
    opacity: 0;
    transform: translateX(200px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes btn {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(2); } }

@keyframes hero-btn {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(2); } }

@keyframes btn-green {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(2);
    opacity: 0; } }

@keyframes main-btn {
  0% {
    transform: scale(0.7); }
  100% {
    transform: scale(1); } }

@keyframes story {
  0% {
    top: 100%;
    opacity: 0; }
  100% {
    top: 50%;
    opacity: 1; } }

@keyframes story-img {
  0% {
    transform: scale(1.5); }
  100% {
    filter: blur(3px) brightness(70%);
    transform: scale(1); } }

.u-text-center {
  text-align: center; }

.u-text-top-big {
  margin-top: 10rem; }

.u-text-bottom-big {
  margin-bottom: 9rem; }

.hero__btn {
  color: #555;
  font-size: 2rem;
  padding: 2rem 4rem;
  border-radius: 3rem;
  background-color: white;
  border: none;
  position: relative;
  cursor: pointer; }

.hero__btn-green {
  background-color: #28b485;
  color: white;
  margin-left: 43%;
  margin-top: 12rem;
  font-size: 2rem;
  padding: 2rem 4rem;
  border-radius: 3rem;
  border: none;
  position: relative;
  cursor: pointer; }

.hero__btn-green::after {
  width: 100%;
  height: 100%;
  color: #555;
  border-radius: 3rem;
  background-color: white;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s; }

.hero-btn-green:hover::after {
  width: 100%;
  height: 100%;
  color: #555;
  border-radius: 3rem;
  background-color: white;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
  animation-name: btn-green;
  animation-duration: 0.2s;
  animation-iteration-count: infinite; }

.hero__btn-green:hover {
  color: white;
  background-color: #750404;
  transition: 1s; }

.hero__btn:hover {
  color: white;
  background-color: #750404;
  transition: 1s;
  font-weight: 600; }

.hero__btn::after {
  width: 100%;
  height: 100%;
  color: #555;
  border-radius: 3rem;
  background-color: white;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s; }

.hero__logo {
  align-self: flex-start;
  width: 10%; }

.hero__btn:hover::after {
  animation-name: hero-btn;
  animation-duration: 0.2s;
  animation-iteration-count: infinite; }

.btn-text {
  transition: all 0.2s; }
  .btn-text:link, .btn-text:visited {
    font-size: 1.6rem;
    color: #7ed56f;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #7ed56f;
    font-weight: 600; }
  .btn-text:hover {
    color: white;
    background-color: #7ed56f;
    padding: 3px;
    transform: translateY(-0.5rem); }
  .btn-text:active {
    transform: translateY(0); }

.tour__cart {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  transition: all 0.8s;
  position: relative; }
  .tour__cart-basic {
    width: 100%;
    height: 50rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: 2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem; }
  .tour__cart-front {
    background-color: #fdfdfd; }
    .tour__cart-front-img-3 {
      background-image: linear-gradient(to left bottom, rgba(126, 213, 111, 0.4), rgba(40, 180, 133, 0.4)), url("../images/nat-6.jpg"); }
    .tour__cart-front-img-2 {
      background-image: linear-gradient(to left bottom, rgba(41, 152, 255, 0.4), rgba(86, 67, 250, 0.4)), url("../images/nat-6.jpg"); }
    .tour__cart-front-img {
      width: 100%;
      height: 45%;
      clip-path: polygon();
      background-image: linear-gradient(to left bottom, rgba(255, 185, 0, 0.4), rgba(255, 119, 48, 0.4)), url("../images/nat-5.jpg");
      background-size: cover;
      background-position: center;
      background-blend-mode: normal;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
      .tour__cart-front-img-text {
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        width: 65%;
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        color: white;
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
        padding: 1rem;
        position: absolute;
        right: 2rem;
        top: 14rem;
        text-align: right; }
      .tour__cart-front-img-text-2 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .tour__cart-front-img-text-3 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .tour__cart-front-img-3 {
        background-image: linear-gradient(to left bottom, rgba(126, 213, 111, 0.4), rgba(40, 180, 133, 0.4)), url("../images/nat-6.jpg"); }
      .tour__cart-front-img-2 {
        background-image: linear-gradient(to left bottom, rgba(41, 152, 255, 0.4), rgba(86, 67, 250, 0.4)), url("../images/nat-6.jpg"); }
    .tour__cart-front-text {
      padding: 2rem 0;
      display: flex;
      flex-direction: column; }
      .tour__cart-front-text-txt {
        width: 50%;
        margin: 0 auto;
        font-size: 1.8rem;
        padding: 1.3rem 0rem;
        font-weight: 500;
        text-align: center;
        display: inline-block;
        color: #444; }
        .tour__cart-front-text-txt:not(:last-child) {
          border-bottom: 1px solid #333; }
  .tour__cart-back {
    text-align: center;
    backface-visibility: hidden;
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
    transform: rotateY(180deg); }
    .tour__cart-back-info {
      background: none;
      padding: 25% 15%; }
      .tour__cart-back-info-only {
        font-size: 2.4rem;
        color: white;
        text-align: center; }
      .tour__cart-back-info-price {
        font-size: 6rem;
        color: white;
        font-weight: 700;
        margin-top: 4rem; }
      .tour__cart-back-info button {
        text-align: center; }
    .tour__cart-back-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .tour__cart-back-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .tour__cart:hover .tour__cart-front {
    transform: rotateY(-180deg);
    transition: 0.8s; }
  .tour__cart:hover .tour__cart-back {
    transform: rotateY(0deg);
    transition: 0.8s; }

.row1 {
  height: 60vh;
  width: 114rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .row1 .col-1-of-3 {
    width: 30%; }

.story {
  transform: skew(-12deg);
  width: 60%;
  padding: 8rem;
  background-color: rgba(250, 250, 250, 0.8);
  position: relative;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4); }
  .story > * {
    transform: skew(12deg); }
  .story-img {
    transform: translateX(-2rem) skew(12deg);
    width: 15rem;
    height: 15rem;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    float: left;
    position: relative; }
    .story-img-box {
      shape-outside: circle(50% at 50% 50%); }
      .story-img-box-mary {
        height: 15rem;
        object-fit: cover;
        width: 15rem;
        transform: scale(1.5); }
    .story-img-text {
      position: absolute;
      top: 100%;
      left: 60%;
      transform: translate(-60%, -50%);
      opacity: 0; }
      .story-img-text-txt {
        font-size: 2rem;
        font-weight: 700;
        color: white;
        z-index: 20;
        text-transform: uppercase; }
  .story-text-box {
    font-size: 2rem;
    color: #333;
    line-height: 1.7; }
  .story:hover .story-img-text {
    transition: 1s;
    top: 50%;
    opacity: 1; }
  .story:hover .story-img-box {
    transition: 1s;
    filter: blur(3px) brightness(70%);
    transform: scale(1); }

.mrgin {
  margin-top: 10rem; }

.read {
  text-align: center;
  margin: 10rem auto 0 auto;
  width: 10%; }

.story__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  background-color: #fafafa; }

.video {
  opacity: 0.2;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.footer {
  padding: 10rem;
  background-color: #222; }
  .footer-logo {
    width: 15%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer-logo img {
      width: 100%;
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
      background-clip: text;
      display: inline-block;
      -webkit-background-clip: text;
      color: transparent; }
    .footer-logo .nat {
      font-size: 3rem;
      font-weight: 600;
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
      background-clip: text;
      display: inline-block;
      -webkit-background-clip: text;
      color: transparent; }
  .footer_btm {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem; }
    .footer_btm-left {
      width: 42%;
      padding: 2rem 0rem;
      border-top: 1px solid white;
      display: flex;
      justify-content: flex-start;
      gap: 1.5rem; }
      .footer_btm-left-link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 400;
        color: white;
        display: inline-block;
        padding: 3px; }
        .footer_btm-left-link:hover {
          box-shadow: 0 1.5rem 3rem black;
          transform: rotate(10deg);
          background-color: #111;
          color: #28b485;
          transition: 0.2s; }
    .footer_btm-right {
      width: 42%;
      padding: 2rem 0rem;
      border-top: 1px solid white; }

.footer-text {
  font-size: 1.6rem;
  color: white;
  line-height: 1.7; }

.forma {
  margin: 0 auto;
  width: 114rem;
  background-image: url("../images/nat-10.jpg");
  background-size: cover; }
  .forma_sign {
    clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
    background-color: rgba(250, 250, 250, 0.8);
    padding: 4rem; }
    .forma_sign-up {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      width: 100%; }
      .forma_sign-up-btn {
        width: 25%;
        color: white;
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .forma_sign-up input {
        background-color: rgba(249, 249, 249, 0.9);
        width: 40%;
        border-radius: 1rem;
        padding: 2rem;
        border: none; }
        .forma_sign-up input::placeholder {
          font-size: 1.8rem;
          font-weight: 600;
          color: #333; }
        .forma_sign-up input:hover {
          border-bottom: 4px solid orangered; }
        .forma_sign-up input button {
          width: 40%; }

.right {
  text-align: left; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: block;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - ((6rem) * 2)) / 3); }
  .row .col-2-of-3 {
    width: calc((((100% - ((6rem) * 2)) / 3) * 2) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem) * 3) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (6rem) * 3) / 4) + (6rem)); }

.col-3-of-4 {
  width: calc(3 * ((100% - (6rem) * 3) / 4) + 2 * (6rem)); }

.img-box {
  position: relative; }
  .img-box .img-box_photo {
    position: absolute;
    z-index: 10;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
    transition: all 0.2s; }
    .img-box .img-box_photo:hover {
      outline: 1.5rem solid #28b485;
      outline-offset: 2rem;
      transform: scale(1.2);
      z-index: 20; }
  .img-box__1 {
    top: -2rem;
    left: 0rem; }
  .img-box__2 {
    right: 0;
    top: 2rem; }
  .img-box__3 {
    left: 20%;
    top: 10rem; }
  .img-box:hover .img-box_photo:not(:hover) {
    transform: scale(0.9); }

.cart {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  background-color: #fafafa;
  padding: 4.2rem 3rem;
  text-align: center;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
  opacity: 0.8; }
  .cart:hover {
    transform: translateY(-3rem) scale(1.1); }

.feature-icon {
  font-size: 6.4rem;
  font-weight: 700;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  background-clip: text;
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent; }

.navigation_check {
  display: none; }

.navigation_label {
  background-color: white;
  position: fixed;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
  z-index: 300;
  top: 6rem;
  right: 6rem; }

.navigation_back {
  width: 6rem;
  height: 6rem;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 200;
  transition: all 1.5s;
  border-radius: 50%; }

.navigation_check:checked ~ .navigation_back {
  transform: scale(60); }

.navigation_list {
  z-index: 500;
  position: fixed;
  top: 50%;
  left: 20%;
  opacity: 0;
  list-style: none;
  transform: translate(-50%, -50%);
  transition: all 1s cubic-bezier(0.77, 0.2, 0.3, 1.5); }

.navigation_item {
  margin: 1rem; }

.navigation_link:link, .navigation_link:visited {
  font-size: 3rem;
  font-weight: 500;
  display: inline-block;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 1s;
  background-image: linear-gradient(105deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%; }

.navigation_link:hover, .navigation_link:active {
  background-position: right;
  background-size: 250%;
  transform: translateX(1rem);
  color: #7ed56f; }

.navigation_check:checked ~ .navigation_menu .navigation_list {
  left: 50%;
  opacity: 1; }

.hero {
  height: 95vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  background-image: linear-gradient(to right bottom, #7ed56f70, #28b4857a), url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%); }

.empty {
  height: 2vh; }

.section-about {
  padding: 30rem 0rem;
  background-color: #f0f0f0;
  margin-top: -35vh;
  margin-bottom: -10rem; }

.feature-section {
  margin-top: -35vh;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(to right bottom, #7ed56f70, #28b4857a), url("../images/nat-4.jpg");
  background-size: cover;
  background-position: center;
  padding: 25rem 0rem;
  transform: skewY(-7deg); }
  .feature-section > * {
    transform: skewY(7deg); }

.tour-section {
  padding: 22rem 0 5rem 0;
  background-color: #f0f0f0;
  margin-top: -13vh; }

.stories {
  padding: 15rem 0rem;
  position: relative; }

.form {
  padding: 6rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
