$main-color: rgba(0, 0, 0, 0.4);
$second-color: rgba(0, 0, 0, 0.4);
$grid-width: 80vw;
$column-gap: 6rem;
$row-gap: 8rem;
$section-background-color: #dddddd;
$green-color: #7ed56f70;
$dark-color: #28b4857a;
$color-primary: #55c57a;
