.hero__text,
.hero__summary {
  @extend%text;
}
.hero__text {
  font-size: 8.4rem;
  animation-name: h1;
  animation-duration: 2s;
  animation-delay: 1s;
}
.hero__summary {
  width: 50%;
  font-size: 4.4rem;
  text-align: center;
  line-height: 1.5;
  animation-name: h2;
  animation-duration: 2s;
  animation-delay: 1s;
}
.heading-secondary {
  font-size: 3.6rem;
  text-transform: uppercase;
  display: inline-block;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, $green-color, $dark-color);
  background-clip: text;
  color: transparent;
  &:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
  }
  transition: all 0.5s;
  letter-spacing: 0.2rem;
}
.heading-tretiary {
  opacity: 0.8;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  color: #333;
}
.text-box {
  opacity: 0.9;
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
    line-height: 1.7;
    color: #333;
  }
}
.text-boxx {
  opacity: 0.9;
  font-size: 1.4rem;
  color: #555;
  line-height: 1.7;
  text-align: center;
}
.heading-tertiary {
  opacity: 0.8;
  font-size: 1.4rem;
  color: #555;
  text-transform: uppercase;
  text-align: center;
}

